@import "tailwindcss";

@theme {

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  
  --color-primary: #0F2854;
  --color-medium: #1C4D8D;
  --color-soft: #4988C4;
  --color-light: #BDE8F5;
}

:root {
  background-color: #0F2854;
  color: #BDE8F5;
}